@font-face {
  font-family: 'IcoMoonFiles';
  src:url('../../fonts/IcoMoonFiles.eot');
  src:url('../../fonts/IcoMoonFiles.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/IcoMoonFiles.woff') format('woff'),
    url('../../fonts/IcoMoonFiles.ttf') format('truetype'),
    url('../../fonts/IcoMoonFiles.svg#IcoMoonFiles') format('svg');
  font-weight: normal;
  font-style: normal;
}


.icomoon-files a:before {
  font-family: 'IcoMoonFiles';
}
.icomoon-files [href$=".pdf"]:before {
  content: "\e008";
  color: #DC0012;
}
.icomoon-files [href$=".doc"]:before {
  content: "\e00a";
  color: #24468D;
}
.icomoon-files [href$=".csv"]:before {
  content: "\e00b";
  color: #006E01;
}
.icomoon-files [href$=".zip"]:before {
  content: '\e00c';
  color: #ED7A0E;
}
.icomoon-files [href$=".ppt"]:before {
  content: '\e00d';
  color: #DC5900;
}

/* For presentation of demo - not needed */
html {
  background-color: #1d1f20;
}

body {
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(360deg, #1d1f20, #2f3031);
  padding: 30px;
}

h1, p {
  text-align: center;
  color: #f1f1f1;
  text-shadow: 1px 1px 1px #000;
}
h1 a, p a {
  text-decoration: none;
  color: #ED7A0E;
  transition: all .2s ease;
}
h1 a:hover, p a:hover {
  color: #f1f1f1;
}
h1 a:before, p a:before {
  padding-right: 3px;
}

ul {
  width: 285px;
  margin: 0px auto;
  padding: 30px;
  background: #1d1f20;
  border: solid 1px #333;
  border-radius: 4px;
}
ul li {
  line-height: 50px;
  list-style: none;
}
ul li a {
  text-decoration: none;
  font-size: 3em;
  color: #f1f1f1;
  text-shadow: 1px 1px 1px #000;
}
ul li a:before {
  padding-right: 8px;
}
ul li a:hover {
  color: #888;
}
